/*
 *      wiki.debian.org stylesheet proposal
 *
 *      Kalle Söderman, 2008 debwiki.css
 *
 *      Copyleft : This work is free, you can copy, spread, and modify it under
 *      the terms of the Free Art License http://artlibre.org/licence/lal/en/
 * 
 *
 *      Font size table
 *      ---------------
 *      Browser default 16px
 *
 *      14px	87.5%		body	
 *      24px	1.714em
 *      18px	1.286em
 *      16px	1.143em
 *      12px	0.857em
 *      11px	0.75em
 *      8px 	0.57em
 */

@import url("debian.css");

/*
 * 	Header
 */
body {
		font-size: 100%;
}

#breadcrumbs {
	text-transform: none;
}
#wikisection p.section{
	left: 0;
}
#wikisection {
	position: absolute;
	top: 0;
}
div#username {
	font-size: 0.75em;
	margin-left: 5em;
	color: #d2d3d7;
}
.sitetools {
	text-align:left;
	margin: 0 10px 0 0;
	padding: 2px 10px 2px 5px;
	position: absolute;
	top:0;
	right:0;
	border-right: 1px solid white;
	border-left: 1px solid #d2d3d7;
	line-height: 1em;
}

#searchform {
	float: left;
	font-size: 0.75em;
	line-height: 2;
}

ul#pagelocation {
	display: inline;
	padding:0 1em 0 0;
}

#sitetools form {
	margin:0;
	padding:0;
}

#sitetools input {
	margin: 0 0 0 0.25em;
	padding-left: 4px;
	padding-right: 4px;
}

#sitetools select {
	margin-left: 0.5em;
}

#sitetools form p {
	display: inline;
	line-height: 1em;
	margin:0;
	padding:0;
}

.sitetools a {
	margin: 5px 0.5em 2px 0;
	padding: 0 0 0 0;
}

.sitetools {
	margin:0;
	padding: 2px 10px 2px 5px;
	border-left: 1px solid white;
	border-right: 1px solid #d2d3d7;
	display:block;
	float:left;
}

/*
 * 	Leftcol (Should be renamed secondnav)
 */

#leftcol {
	float: right;
	margin: 2em 0 0 1em  ;
	width: 16em;
	clear: both;
}

#leftcol a {
	display: block;
}

#leftcol #username {
	margin: 0 0 1em 0;
	display:block;
}

#userhome {
	font-weight: bold;
	margin-bottom: 1em;
}

#navibar
, .editbar {
	list-style: none;
	margin: 0;
	padding:0;
}

#leftcol ul.editbar {
	margin-top: 1em;
}

form select {
}

#leftcol .editbar form select {
	width: 100%;
}

.editbar {
	padding: 0 0 0 0;
	font-size: 0.75em;
	line-height: 2;
	position: absolute;
	right: 10px;
}

#leftcol li {
	display:block;
	margin:0;
	padding:0;
	list-style: none;
}

#content {
	margin-top: 1.5em;
}
	
.info {
	position: relative;
	margin:0 0 0.5em 0;
	float: none;
}
#leftcol .info a {
	display: inline;
}

#leftcol .info strong {
	margin: 0;
	padding: 0;
}

/*
 *	Typography
 */

hr {
	background-color: #d2d3d7;
	height: 1px;
}

pre, div.codearea {
	padding: 1em;
	margin: 2em 1.5em 2em 1.5em; 
	line-height: 1.5em;
	background-color: #f5f6f7;
	border: 1px solid #d2d3d7 ;
	font-family: monospace;
	font-size: 100%;
	line-height: 2em;
}
div.codearea pre {
		border: none;
		padding: 0;
		margin: 0;
}
div.table-of-contents { 
	font-size: 0.75em;
	line-height: 2em;
	list-style:none;
	background-image: url('../img/greydot.png');
	background-position: bottom left;
	background-repeat: repeat-x;
	background-color: transparent;
	padding: 0;
	margin:0;
	border:0;
	max-width: 50em;
	display:block;
}

p.table-of-contents-heading { 
	font-weight:bold;   
	padding:0; 
	margin:1.5em 0 0 0; 
	font-size: 125%;
	letter-spacing: normal;
}

div.table-of-contents ol {
	list-style-position: inside;
	padding:0;
	margin: 0;
}

div.table-of-contents ol ol {
	list-style-position: inside;
	padding-left: 2em;
	margin: 0;
}


div.table-of-contents li {
	background-image: url('../img/greydot.png');
	background-position: top left;
	background-repeat: repeat-x;
	padding: 0;
	margin:0;
 }

div.table-of-contents a:hover {
	background-color: #f0f0f4;
}

div.table-of-contents a {
	text-decoration: none;
}

.portal h1 {
	margin-top: 0;
	line-height: 1em;
}
	
.portal h1:after {
	content: "Portal";
	font-family:monospace;
	font-weight: normal;
	font-size: 0.62em;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	background-color: #c70036;
	line-height: 16px;
	color:white;
	padding: 0 5px 0 5px;
	margin:1em 0 3em 0;
	display: block;
}
h1#locationline {
}
h1#locationline a {
	color: black;
}
span.u {
		font-style: normal;
		font-weight: normal;
		text-decoration: underline;
}
p.searchhint {
	padding:1em;
	border: 1px solid #cccca3;
	margin:1em 0 1em 0;
	background-color:#ffffcb;
	font-size: 0.75em;
	line-height: 2;
}
p.searchstats {
		font-size: 0.75em;
		background-color: transparent;
		background-color: #f5f6f7;
		margin:0;	
		border-top: 1px solid #d2d3d7 ;
		text-transform:lowercase;
		line-height: 2;
		padding: 0;
}
div.codearea {
		margin: 2em 1.5em 2em 1.5em;
		font-family: monospace;
}
a.codenumbers {
		font-size: 100%;
}
		

/*
 * 	Footer
 */

p#pageinfo {
	color: gray;
	font-size: 1em;
	margin: 1em 0 0 0;
}

#footer {
	margin-top: 2em;
	margin-left: 52px;
	margin-right: 10px;
	clear: both;
}
#footer ul.editbar {
	font-size: 1em;
	border-bottom: 1px solid #d2d3d7;
	background-image: none;
	margin: 0 0 1.5em 0;
}

ul#credits {
	margin: 1em 0 0 0;
	padding:0;
	font-size: 1em;
	line-height: 2;
}

ul#credits li {
	list-style: none;
	display: inline;
	margin: 0 1em 0 0;
}

#content div.caution
, #content div.important
, #content div.note
, #content div.tip
, #content div.warning {
	margin: 1em 0 1em 0;
}

#message {
	background-color: #f5f6f7;
	padding: 1em;
	margin: 1em 0 1em 0;
	border: 1px solid #d2d3d7 ;
	font-size: 0.75em;
	line-height: 2;
}

#message p {
	margin:0;
	padding:0;
}

table	{
	margin: 0.75em 0 0.75em 0;
}
td {
		padding: 0 1em 0 0.5em;
}

#content div.debian {
	border:1px solid #c70036;
	border-top: 1px solid  #c70036; 
	background-repeat: no-repeat; 
	background-position: 10px 5px;
	margin: 2em 1.5em 2em 1.5em;
	padding: 0 1.5em 0 50px;
	font-size: 0.75em;
}
#content div.debian p {
		margin: 1.5em  0 1.5em 0;
}

/*
 * Editor
 */

#editor #editor-textarea {
	display: block;
	margin: 1em 0 1em 0;
}
p img.attachment {
		/* Don't turn on this float, since it breaks this page: https://wiki.debian.org/MaintainerScripts */
		/* float: left; */
		padding-right: 1.5em;
}
table p img.attachment {
		display: inline;
		float: none;
		padding: 0;
}
p img {
		display: inline;
}
table.diff {
	font-family: monospace;
	font-size: 1em;
}
div#header ul li {
	display: inline;
	margin-right: 1em;
}
ul#navibar li.wikilink {
	margin: 0;
}
ul#navibar li.current {
	display: none;
}
li.wikilink {
	margin:0;
	padding:0;
}
ul#navibar li.userlink {
	margin:0;
	padding:0;
}
#pagetrail {
	margin:0;
	display: inline;
	text-transform: lowercase;
	line-height: 2;
	background-color: transparent;
	background-color: #f5f6f7;
	min-height: 20px;
}
#searchform {
	position: absolute;
	right: 10px;
	top: 0;
}
div#content {
	margin: 0 10px 0 52px;
}
div#header {
	margin:0;
}
#navbar {
	background-color: transparent;
	list-style:none;
	display:block;
	border-bottom:1px solid #c70036;
	text-indent:0;
	padding: 0;
	margin-top:0;
	margin-bottom:0;
}
#navbar ul {
	margin: 0;
	padding: 0;
	clear: both;
	overflow: hidden;
	min-height: 45px;
}
#navbar li {
	list-style: none;
	float: left;
	padding: 0;
	margin: 0;
}
#navbar a:link
, #navbar a:visited {
	padding: 1.75em 1em 0.25em 1em;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	display: block;
	text-decoration: none;
}
#navbar a:visited {
	color: #54638c;
}
#navbar a:hover
, #navbar a:visited:hover {
	background-color: #efefef;
	border-left: 1px solid  #d2d3d7;
	border-right: 1px solid #d2d3d7;
	text-decoration: underline;
}
form.actionsmenu {
	float: right;
	vertical-align: text-top;
}
span.sep {
	margin-right: 0.25em;
	margin-left: 0.25em;
}

.diff {
    table-layout: fixed;
}
.diff-header {
    font-weight: bold;
}
.diff-title {
    background-color: #C0C0C0;
}
.diff-added {
    background-color: #E0FFE0;
    font-family: courier,monospace;
    vertical-align: top;
    white-space: pre-wrap;
    width: 50%;
    word-wrap: break-word;
}
.diff-removed {
    background-color: #FFFFE0;
    font-family: courier,monospace;
    vertical-align: top;
    white-space: pre-wrap;
    width: 50%;
    word-wrap: break-word;
}
.diff-added span {
    background-color: #80FF80;
}
.diff-removed span {
    background-color: #FFFF80;
}
td.diff-info {
    vertical-align: top;
}
div.diff-info {
    white-space: nowrap;
}
div.diff-info-rev-comment span.diff-info-value {
    white-space: normal;
}
div.diff-info-header {
    background-color: #E8E8E8;
    margin: -0.25em -0.5em 0.25em;
    padding: 0.25em 0.5em;
    text-align: center;
    width: 100%;
}
td.diff-same {
    border: 0 none;
    text-align: center;
}
